DATABASE_URL=postgresql://neondb_owner:npg_2gPvFS6OXRVe@ep-calm-sound-acoch5cd-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
PORT=3000
SESSION_SECRET=aq1-secret-key-2024
